@font-face {
   font-family: 'KeepCalm-Medium';
   src: url('KeepCalm-Medium/font.ttf');
}
@font-face {
   font-family: 'OrangeBlossoms';
   src: url('OrangeBlossoms/font.ttf');
}
@font-face {
   font-family: 'AppleGaramond';
   src: url('AppleGaramond/font.ttf');
}
@font-face {
   font-family: 'Baby Blues';
   src: url('Baby Blues/font.ttf');
}
